@import url('https://fonts.googleapis.com/css2?family=Qahiri&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
}




/* Nav-Bar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 26, 26);
    padding: 10px 40px;
    position: sticky;
    top: 0;
    z-index: 5;
}

nav img {
    height: 60px;
}


nav>ul>li {
    padding: 1em;
    font-weight: bold;
    list-style: none;
    display: inline;
    color: rgb(255, 255, 255);

}

nav>ul>li>a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
}


#nav--menu {

    display: none;

}


li:hover {
    background-color: #fdfcc4;
    color: black;
}

li:hover a {
    color: black;
}


li:hover #workshop--dropdown {
    display: block;

}

#dropdown--arrow {
    color: rgb(167, 162, 162);
}

#workshop--dropdown{
    font-size: 1.2rem;
    list-style: none;
    background-color: rgb(31, 30, 30);
    position: absolute;
    display: none;
    right: 16.2em;
    top: 3.5em;
    border: 2px solid black;
}

#workshop--dropdown a {
    color: white;
    text-decoration: none;
     
}


.dropdown--menu {
    padding: 1em;
}

#dropdown--menu--2 {
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);

}

.dropdown--menu:hover {
    background-color: #fdfcc4;
    color: black;
}

#burger{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#burger span{
    width: 30px;
    height: 3px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    
}

#line1{
   top: 30px; 
}

#line2{
    top: 40px;
}

#line3{
    top: 50px;
}

#burger--menu{
    background-color: rgb(26, 26, 26);
    border: 2px solid rgb(26, 26, 26) ;
    position: absolute;
    top: 5em;
    right: 0;
    
}

.show{
    display:none;
}

#burger--menu ul{
  list-style: none;
}

#burger--menu li {
    padding: 1em;
}

#burger--menu a{
    font-weight: bold;
    color: white;
    text-decoration: none;
}

#burger--menu li:hover a{
    color: black;
}

/* Home */
.home > h1 {
    display: none;
}

.home {
    min-height: 91.2vh;
    padding-top: 70px;
    background-color: #fdfcc4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logoText {
    margin-top: 5em;
    width: 20rem;
}

#arrow {
    font-size: 2rem;
    margin-top: 12rem;
    color: rgba(102, 102, 102, 0.842);
    position: relative;
    animation-name: arrow--up--down;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes arrow--up--down {
    0% {
        top: .1em
    }

    50% {
        top: 0
    }

    100% {
        down: .1em
    }
}


/* Inhalt */

.inhalt {
    margin: 0 13%;
    padding: 2em 0;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.inhalt p {
    font-size: 1.1rem;
    text-align: justify;
    hyphens: auto;
    margin: 2rem 0;
    line-height: 2.3rem;
}

#zitat {
    background-color: #fdfcc4;
    padding: 0.3em;

}

button {
    font-size: 1.2rem;
    border: none;
    background-color: #070707;
    color: #ffffff;
    padding: 1em;
    font-weight: bolder;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.11);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.11);
}

button:hover {
    background-color: #fdfcc4;
    color: black;
}


/* form */

.kontakt--formula {
    padding: 8em 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

input[type=text],
input[type=email] {
    height: 5vh;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
}

input[type=text],
input[type=email],
textarea,
input[type=checkbox],
button {
    margin-top: 2em;
    padding: 1rem;
}


form button {
    width: 10em;

}


#datenschutz {
    text-align: center;
}

/* Impressum */

#impressum{
    padding: 5em 5em;
    font-weight: bold;
    margin-bottom: 15em;
}

#impressum h1{
    
    margin-bottom: 5em;

}


/* footer */
footer {
    /* display: flex; */
    justify-content: center;
    padding: 1em 0;
    background-color: rgb(26, 26, 26);
    align-items: center;
}

footer li {
    list-style: none;
    margin: 1em 0;

}

footer a {
    color: rgb(221, 221, 221);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin:0 1em;
}


.footer--button {
    padding: 0.1rem 0.3rem;
    width: 20em;
}

.footer--button:hover {
    background-color: #fdfcc4;
    color: black;

}



@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 1000px) {



    nav{
        padding: 10px 70px;  
    }


    #nav--menu {
        display: block;
    }

    #logoText {
        margin-top: 0;
        width: 30em;
    }

    #arrow{
        margin-top: 3em;
    }

    #burger{
        display: none;
    }

form{
    width: 30%; 
}

footer{
   
        display: flex;
        justify-content: center;
    
}


}