@import url('https://fonts.googleapis.com/css2?family=Qahiri&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}



/* Nav-Bar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 70px;
    position: sticky;
    top: 0;
}

nav>a>img{height: 60px;}

nav>ul{
    background-color: black;
}

nav>ul>li{
    list-style: none;
    display: inline;
    
}

nav>ul>li>a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
}


/* Home */
.home>h1{display: none;}

.home{
    min-height: 91.6vh;
    padding-top: 70px;
    background-color: #fadc9c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logoText{
    width: 35%;
}

#arrow{
    font-size: 2rem;
    margin-top: 2rem;
    color: rgba(102, 102, 102, 0.842);
}

/* Inhalt */

.inhalt{
    margin: 0 20%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inhalt>p{
    font-size: 1.5rem;
    text-align: justify;
	text-align-last: none;
    margin: 20px 0;
}

/* footer */
footer{
    display: flex;
    background-color: rgb(177, 174, 174);
    height: 50px;
    justify-content: center;
    align-items: center;
}

footer>a{
  
    margin: 0 20px;
    
}


